In [3]:
import pandas as pd

In [32]:
pd.__version__

'0.25.1'

In [73]:
df3 = pd.read_csv('test_data_upload3.csv', error_bad_lines = False )

b'Skipping line 36: expected 16 fields, saw 17\nSkipping line 48: expected 16 fields, saw 17\nSkipping line 54: expected 16 fields, saw 17\nSkipping line 62: expected 16 fields, saw 17\nSkipping line 71: expected 16 fields, saw 17\nSkipping line 77: expected 16 fields, saw 17\nSkipping line 81: expected 16 fields, saw 17\nSkipping line 215: expected 16 fields, saw 17\nSkipping line 353: expected 16 fields, saw 17\nSkipping line 362: expected 16 fields, saw 17\nSkipping line 459: expected 16 fields, saw 17\nSkipping line 491: expected 16 fields, saw 17\nSkipping line 492: expected 16 fields, saw 17\nSkipping line 493: expected 16 fields, saw 17\nSkipping line 619: expected 16 fields, saw 17\nSkipping line 732: expected 16 fields, saw 17\nSkipping line 793: expected 16 fields, saw 18\nSkipping line 795: expected 16 fields, saw 17\nSkipping line 881: expected 16 fields, saw 17\nSkipping line 1039: expected 16 fields, saw 17\nSkipping line 1235: expected 16 fields, saw 17\nSkipping line 1270: expected 16 fields, saw 17\nSkipping line 1289: expected 16 fields, saw 17\nSkipping line 1309: expected 16 fields, saw 17\nSkipping line 1346: expected 16 fields, saw 17\nSkipping line 1366: expected 16 fields, saw 17\nSkipping line 1422: expected 16 fields, saw 17\nSkipping line 1509: expected 16 fields, saw 18\nSkipping line 1532: expected 16 fields, saw 17\nSkipping line 1634: expected 16 fields, saw 17\nSkipping line 1755: expected 16 fields, saw 17\nSkipping line 1815: expected 16 fields, saw 17\nSkipping line 1834: expected 16 fields, saw 17\nSkipping line 1838: expected 16 fields, saw 17\nSkipping line 1903: expected 16 fields, saw 17\nSkipping line 1910: expected 16 fields, saw 17\nSkipping line 1981: expected 16 fields, saw 17\nSkipping line 2053: expected 16 fields, saw 17\nSkipping line 2069: expected 16 fields, saw 17\nSkipping line 2201: expected 16 fields, saw 17\nSkipping line 2216: expected 16 fields, saw 17\nSkipping line 2281: expected 16 fields, saw 17\nSkipping line 2446: expected 16 fields, saw 18\nSkipping line 2599: expected 16 fields, saw 17\nSkipping line 2608: expected 16 fields, saw 17\nSkipping line 2687: expected 16 fields, saw 17\nSkipping line 2692: expected 16 fields, saw 17\nSkipping line 2775: expected 16 fields, saw 17\nSkipping line 2779: expected 16 fields, saw 17\nSkipping line 2782: expected 16 fields, saw 17\nSkipping line 2851: expected 16 fields, saw 17\nSkipping line 3025: expected 16 fields, saw 17\nSkipping line 3053: expected 16 fields, saw 17\nSkipping line 3259: expected 16 fields, saw 17\nSkipping line 3320: expected 16 fields, saw 17\nSkipping line 3334: expected 16 fields, saw 17\nSkipping line 3338: expected 16 fields, saw 18\nSkipping line 3464: expected 16 fields, saw 17\nSkipping line 3467: expected 16 fields, saw 17\nSkipping line 3468: expected 16 fields, saw 17\nSkipping line 3469: expected 16 fields, saw 17\nSkipping line 3493: expected 16 fields, saw 17\nSkipping line 3496: expected 16 fields, saw 17\nSkipping line 3615: expected 16 fields, saw 17\nSkipping line 3856: expected 16 fields, saw 17\nSkipping line 3985: expected 16 fields, saw 17\nSkipping line 4010: expected 16 fields, saw 17\nSkipping line 4015: expected 16 fields, saw 17\nSkipping line 4044: expected 16 fields, saw 17\nSkipping line 4057: expected 16 fields, saw 17\nSkipping line 4280: expected 16 fields, saw 17\nSkipping line 4340: expected 16 fields, saw 17\nSkipping line 4412: expected 16 fields, saw 17\nSkipping line 4707: expected 16 fields, saw 17\nSkipping line 5024: expected 16 fields, saw 17\nSkipping line 5487: expected 16 fields, saw 17\nSkipping line 5527: expected 16 fields, saw 17\nSkipping line 5532: expected 16 fields, saw 17\nSkipping line 5555: expected 16 fields, saw 17\nSkipping line 6005: expected 16 fields, saw 17\nSkipping line 6083: expected 16 fields, saw 17\nSkipping line 6115: expected 16 fields, saw 17\nSkipping line 6504: expected 16 fields, saw 17\nSkipping line 6684: expected 16 fields, saw 17\nSkipping line 6964: expected 16 fields, saw 17\nSkipping line 7081: expected 16 fields, saw 17\nSkipping line 7208: expected 16 fields, saw 17\nSkipping line 7313: expected 16 fields, saw 17\nSkipping line 7358: expected 16 fields, saw 17\nSkipping line 7644: expected 16 fields, saw 17\nSkipping line 7883: expected 16 fields, saw 17\n'

In [74]:
df3.head(1)

,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.7958,Private room,83,180,1,2013-10-21,0.01,2,365
0,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365

In [75]:
#df3.head()
cols = ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365']

In [76]:
df3 = pd.read_csv('test_data_upload3.csv',names = cols ,error_bad_lines= False)

In [77]:
df3.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.7958,Private room,83,180,1,2013-10-21,0.01,2,365.0
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365.0
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365.0
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353.0
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355.0